* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #8B0000;
}

.gallery-highlight {
    width: 80%;
    height: 50%;
}

section {
    display: flex;
    height: 100vh;
}

h1{
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    width: 60%;
    text-align: center;
}

.room-gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cae8dc;
}

.room-preview {
    display: flex;
    width: 80%;
    border: 2px solid #cae8dc;
}

.room-preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.room-active {
    opacity: 1;
    
}



